
label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: var(--title);
  }
  
  input{
    color: var(--grey);
    background-color: var(--darker);
    font-size: var(--font);
    padding: 2%;
    padding-left: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--grey);
  }
  
  input:focus{
    outline: none;
    border-color: #5D78FD;
    transition: all 0.4s ease-out;
  }
  
  .password-container {
    position: relative;
    display: inline-block;
  }
  
  .password-container input:first-child {
    width: 96%;
  }
  
  .ShowHidePassword {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-70%);
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  
  .Submit{
    width: 60%;
    font-size: var(--title);
    padding: 1%;
    border-radius: 10px;
    border: 2px solid var(--element);
    background-color: var(--element);
    color: var(--base);
  }
  
  .Submit:hover{
    background-color: var(--good);
    cursor: pointer;
    color: var(--base);
    border-color: var(--good);
  }
  
  .form-Global {
    width: 900px;
    background-color: var(--dark);
    padding: 2%;
    border-radius: 20px;
  }
  
  .flex{
    display: flex;
    justify-content: space-between;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  
  .FormPayment{
    display: flex;
    flex-direction: row;
  }
  
  .FormPayment .RowFormPayment:nth-child(1){
    width: 40%;
  }
  
  .FormPayment .RowFormPayment:nth-child(1) > input {
    width: 70%;
  }
  
  .FormPayment .RowFormPayment:nth-child(2){
    width: 30%;
    margin-right: 10%;
  }
  
  .FormPayment .RowFormPayment:nth-child(2) > input {
    width: 100%;
  }
  
  .FormPayment .RowFormPayment:nth-child(3){
    width: 20%;
  }
  
  .FormPayment .RowFormPayment:nth-child(3) > input {
    width: 100%;
  }
  
  .DivSubmit{
    margin-top: 30px;
  }
  
  .left-section, .right-section {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  .FormDiv{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .Prices{
    margin-top: 30px;
  }
  
  .Prices > .inline > *{
    margin-bottom: 0;
    width: 50%;
  }
  
  .Prices > .inline:last-child{
    font-size: var(--BigTitle);
  }
  
  .Prices > .inline > .textright{
    color: var(--good);
  }
  