body {
  overflow: hidden;
  height: 100vh;
}

.ScrollBar{
  z-index: 999;
  top: 35%;
  position: sticky;
  cursor: none;
  width: 50px;
  left: 93%;
  font-size: 30px;
  transition: all 0.4s ease-out;
}

.ScrollBar > hr{
  position: absolute;
  padding: 0;
  right: 27px;
  width: 0.5px;
  background-color: var(--grey);
  height: 100%;
  margin: 0;
  z-index: -1;
}

.ScrollBar > .PageListDiv > p:not(.actualPage) > span{
  visibility: hidden;
}

.ScrollBar > .PageListDiv > p {
  transition: opacity 1.5s ease-in-out;
}

.ScrollBar > .PageListDiv > p.actualPage {
  opacity: 1;
}

.ScrollBar > .PageListDiv > p:not(.actualPage) {
  opacity: 0;
}

.ScrollBar > .PageListDiv > p{
  margin: 0;
  border-left: 3px solid var(--grey);
  width: 40px;
  text-align: center;
}

.ScrollBar > .PageListDiv > p.actualPage{
  border-left: 4px solid var(--red);
}

.ScrollBar > .PageListDiv > p.actualPage > span{
  visibility: visible;
  color: var(--red);
}

.ScrollBar > .PageListDiv{
  margin-left: 20px;
}

.slider-container {
  height: 300vh;
  overflow: hidden;
  transition: transform 1s ease;
}

.slide {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.Presentation > div > img{
  width: 450px;
  border-radius: 450px;
  overflow: hidden;
  margin-left: 50px;
}

.Presentation > div > *{
  margin: 0;
}

.Presentation > div > div{
  display: flex;
  padding-left: 20px;
}

.Presentation > div > div > div{
  margin-top: 24.5px;
  margin-left: 10px;
}

.Presentation > div > div > div > a{
  color: var(--red);
  transition: all 0.4s ease;
  font-size: 1.5em;
  font-weight: bold;
}

.Presentation > div > div > div > a:hover{
  color: var(--white);
}

.Presentation > div > div > div > hr{
  margin: 0;
  margin-bottom: 30px;
  background-color: var(--red);  
  height: 3px;  
  width: 0;
  border: none;
  transition: all 0.4s ease;
}

.Presentation > div > div a:hover + hr {
  width: 100%;
}

.Presentation > div > p{
  margin: 20px;
  line-height: 1.5;
}

.Presentation > div:first-of-type{
  width: 800px;
}

.Skills{
  background-color: var(--white);
  color: var(--black);
}

.Skills > .Line{
  height: inherit;
  gap: 50px;
}

.Skills > div > p > i{
  font-size: 80px;
  margin: 0;
  margin-top: 20px;
  height: 150px;
  border-radius: 10px;
  width: 150px;
  border: 3px solid var(--red);
  color: var(--red);
  display: flex !important;
}

.Skills > div > p{
  transition: all 0.2s ease-in-out;
}

.Skills > div > p:hover{
  transform: scale(1.15);
}

.hover-text {
  margin-top: 5px;
  color: var(--black);
  padding: 5px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  border-radius: 50px;
}

.Skills > div > p > i{
  transition: all 0.65s ease-in-out;
}

.Skills1 p:nth-child(1) > i{
  border: 3px solid var(--orangeDarker);
  color: var(--orangeDarker);
}
.Skills1 p:nth-child(1):hover > i{
  -webkit-box-shadow:0px 0px 46px 10px rgba(202, 132, 75, 0.95);
  -moz-box-shadow: 0px 0px 46px 10px rgba(202, 132, 75, 0.95);
  box-shadow: 0px 0px 46px 10px rgba(202, 132, 75, 0.95);
}

.Skills1 p:nth-child(2) > i{
  border: 3px solid var(--blueDarker);
  color: var(--blueDarker);
}
.Skills1 p:nth-child(2):hover > i{
  -webkit-box-shadow:0px 0px 46px 10px rgb(31, 108, 231);
  -moz-box-shadow: 0px 0px 46px 10px rgb(31, 108, 231);
  box-shadow: 0px 0px 46px 10px rgb(31, 108, 231);
}

.Skills1 p:nth-child(3) > i{
  border: 3px solid var(--yellowDarker);
  color: var(--yellowDarker);
}
.Skills1 p:nth-child(3):hover > i{
  -webkit-box-shadow:0px 0px 46px 10px rgb(233, 212, 77,1);
  -moz-box-shadow: 0px 0px 46px 10px rgb(233, 212, 77,1);
  box-shadow: 0px 0px 46px 10px rgb(233, 212, 77,1);
}

.Skills1 p:nth-child(4) > i{
  border: 3px solid var(--cyanDarker);
  color: var(--cyanDarker);
}
.Skills1 p:nth-child(4):hover > i{
  -webkit-box-shadow:0px 0px 46px 10px rgb(138, 147, 190, 1);
  -moz-box-shadow: 0px 0px 46px 10px rgb(138, 147, 190, 1);
  box-shadow: 0px 0px 46px 10px rgb(138, 147, 190, 1);
}

.Skills2 p:nth-child(1) > i{
  border: 3px solid var(--orangeDarker);
  color: var(--orangeDarker);
}
.Skills2 p:nth-child(1):hover > i{
  -webkit-box-shadow:0px 0px 46px 10px rgba(202, 132, 75, 0.95);
  -moz-box-shadow: 0px 0px 46px 10px rgba(202, 132, 75, 0.95);
  box-shadow: 0px 0px 46px 10px rgba(202, 132, 75, 0.95);
}

.Skills2 p:nth-child(2) > i{
  border: 3px solid var(--navyblueDarker);
  color: var(--navyblueDarker);
}
.Skills2 p:nth-child(2):hover > i{
  -webkit-box-shadow:0px 0px 46px 10px rgb(0, 0, 128,1);
  -moz-box-shadow: 0px 0px 46px 10px rgb(0, 0, 128,1);
  box-shadow: 0px 0px 46px 10px rgb(0, 0, 128,1);
}

.Skills2 p:nth-child(3) > i{
  border: 3px solid var(--red);
  color: var(--red);
}
.Skills2 p:nth-child(3):hover > i{
  -webkit-box-shadow:0px 0px 46px 10px rgb(223, 39, 51,1);
  -moz-box-shadow: 0px 0px 46px 10px rgb(223, 39, 51,1);
  box-shadow: 0px 0px 46px 10px rgb(223, 39, 51,1);
}

.title{
  margin-top: 70px;
  margin-bottom: 20px;
}

.titleWhite{
  background-color: transparent !important;
}

.titleWhite h1 {
  margin: 0px;
}

.titleWhite > hr{
  background-color: var(--black) !important;
}

/* CAROUSEL */

.slide > title{
  width: fit-content;
}

.Works{
  color: var(--white);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.Works > div{
  position: absolute;
  display: none;
  border-radius: 10px;
  bottom: 0px;
}

.Works:hover > div{
  display: block;
}

.Works img{
  width: 100%;
  border-radius: 10px;
}

.Works h2{
  font-weight: 400;
  font-size: 50px;
  margin: 0;
  margin-bottom: 20px;
}

.Works > div > p{
  margin: 0;
  color: var(--grey);
  font-weight: 400;
  font-size: 30px;
}

.Works .Tag{
  color: var(--red);
  border: 2px solid var(--red);
  background-color: var(--black);
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
}

.WorkDiv > title{
  width: fit-content;
}

.Carrousel{
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 69px;
  display: flex;
  align-items: center;
}

.Carrousel > button{
  width: 10%;
  background-color: rgba(22, 21, 21, 0.7);
  color: var(--white);
  font-size: 25px;
  border: none;
  height: 100%;
  cursor: none;
  z-index: 999;
}

.Carrousel > a > img{
  width: 100%;
}

.Carrousel {
  overflow: hidden;
  position: relative;
  height: 70%;
  width: 85%;
}

.Carrousel > button{
  z-index: 5;
  position: absolute;
  height: 100px;
  top: 40%;
  border-radius: 100px;
  width: 100px;
}

.Carrousel > #prevBtn{
  left: 15px;
}

.Carrousel > #nextBtn{
  right: 15px;
}

.carousel-container {
  display: flex;
  width: 600%;
  left: 0%;
  position: absolute;
  height: 100%;
  transition: all 1s ease-in-out;
}

.Works {
  width: 100%;
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 992px) {
  :root
  {
    --font : 12px !important;
  }
}

@media screen and (max-width: 750px) {
  .Presentation > div > img{
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .Presentation > div > img{
    width: 150px;
    border-radius: 150px;
    margin-left: 20px;
    margin-right: 40px;
  }
  .Presentation > div:first-of-type
  {
    width: 480px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1400px) {
  :root
  {
    --font : 15px !important;
  }
  .Presentation > div > img{
    width: 300px;
    border-radius: 300px;
    margin-left: 20px;
    margin-right: 40px;
  }
  .Presentation > div:first-of-type
  {
    width: 600px;
  }
}