body {
  overflow: hidden;
}

.slider-container {
  height: 300vh;
  overflow: hidden;
  transition: transform 1s ease;
}

.slide {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.Presentation > div > img{
  width: 450px;
  border-radius: 450px;
  overflow: hidden;
}

.Presentation > div:first-of-type{
  width: 800px;
}

.Skills{
  background-color: var(--white);
  color: var(--black);
}

.title{
  margin-top: 70px;
  margin-bottom: 20px;
}

.titleWhite{
  margin-top: 70px;
  background-color: transparent !important;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
}

.titleWhite h1 {
  margin: 0px;
}

.titleWhite > hr{
  background-color: var(--black);
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
}

/* CAROUSEL */

.Works{
  margin-top: 60px;
  color: var(--white);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.Works > div{
  position: absolute;
  display: none;
  border-radius: 10px;
  bottom: 0px;
}

.Works:hover > div{
  display: block;
}

.Works:hover > img{
  opacity: 0.1;
}

.Works img{
  width: 95%;
  border-radius: 10px;
}

.Works h2{
  font-weight: 400;
  font-size: 50px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 40px;
}

.Works > div > p{
  margin: 0;
  color: var(--grey);
  font-weight: 400;
  font-size: 30px;
}

.Works .Tag{
  color: var(--red);
  border: 2px solid var(--red);
  background-color: var(--black);
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
}


.Works i:hover{
  transform: scale(1.2);
  color: var(--red);
  transition: all 0.2s ease-in-out;
}

.WorkDiv > title{
  width: fit-content;
}

.Carrousel{
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
}

.Carrousel > button{
  width: 10%;
  background-color: rgba(223, 39, 51, 0.2);
  color: var(--white);
  border: none;
  height: 400px;
  cursor: none;
}

.Carrousel > a{
  width: 80%;
  height: 100%;
}