.FullScreenHeight{
  height: 100vh;
}

.Presentation{
  height: 80%;
  
}

.Presentation > div > img{
  width: 450px;
  border-radius: 450px;
  overflow: hidden;
}

.Presentation > div:first-of-type{
  width: 800px;
}

.Skills{
  background-color: var(--white);
  color: var(--black);
  height: 600px;
  width: 100%;
}

.title{
  margin-top: 70px;
  margin-bottom: 20px;
}

.titleWhite{
  margin-top: 70px;
  background-color: transparent !important;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
}

.titleWhite h1 {
  margin: 0px;
}

.titleWhite > hr{
  background-color: var(--black);
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
}

/* CAROUSEL */

.Works{
  margin-top: 60px;
  color: var(--white);
}

.Works > div{
  width: 40%;
}

.Works img{
  width: 40%;
}

.Works h2{
  font-weight: 400;
  font-size: 90px;
  margin: 0;
  margin-bottom: 40px;
}

.Works p{
  margin: 0;
  font-weight: 400;
  font-size: 90px;
}

.Works i{
  margin-left: 15px;
  margin-right: 15px;
}

.Works i:hover{
  transform: scale(1.2);
  color: var(--red);
  transition: all 0.2s ease-in-out;
}

.Carrousel{
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
}

.Carrousel > button{
  width: 10%;
  background-color: rgba(223, 39, 51, 0.2);
  color: var(--white);
  border: none;
  height: 400px;
  cursor: none;
}

.Carrousel > a{
  width: 80%;
  height: 100%;
}