.NavBar {  
  padding-top: 50px;
  font-size: 24px;
  display: flex;
  color: var(--base);
  }
  
  .NavBar > ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
  }
  
  .NavBar > ul > li:first-child {
    flex-grow: 8;
  }

  .NavBar > ul > li {
    list-style: none;
    flex-grow: 0.5;
    display: flex;
    position: relative;
  }
  
  .NavBar > ul > li > a {
    height: 50px;
    transition: all 0.7s ease;
    color: var(--base);
    text-decoration: none;
    padding-left: 5%;
  }

  .NavBar span {
    font-size: 17px;
    transition: all 0.4s ease;
    margin-left: 5%;
  }

  .NavBar > ul > li > a{
    color: var(--white);
    transition: all 0.7s ease;
  }

  .NavBar > ul > li > a:hover > hr{
    width: 100%;
  }

  .NavBar > ul > li > a > hr{
    margin: 0;
    background-color: var(--red);  
    height: 3px;  
    width: 0;
    border: none;
    transition: all 0.4s ease;
  }

  @media screen and (max-width: 999px) {
    header{
      top: 0;
    }
  }