:root
{
  --orangeLighter : #eda14a;
  --orange : #e08319;
  --orangeDarker : #d28023;

  --greenLighter: #2fed2f;
  --green: #2fed2f;
  --greenDarker: #32b732;

  --blueLighter: #5f6ee6;
  --blue: #4659e4;
  --blueeDarker: #2a3fdc;

  --purpleLighter: #7d2adc;
  --purple: #7d2adc;
  --purpleDarker: #7d2adc;

  --pinkLighter: #df50dc;
  --pink: #df50dc;
  --pinkDarker: #c833c4;

  --blueLighter: #97dbff;
  --blue: #6cccff;
  --blueDarker: #4b9eca;

  --cyanLighter: #8a93be;
  --cyan: #8a93be;
  --cyanDarker: #8a93be;

  --navyblueLighter: #000080;
  --navyblue: #000080;
  --navyblueDarker: #000080;

  --whiteLighter: #ffffff;
  --white: #eeeeee;
  --whiteDarker: #e8dfdf;

  --greyDarker : #5b5959;
  --grey : #838383;
  --greyLighter : #aeadad;

  --yellowDarker: #e9d44d;
  --yellow: #e9d44d;
  --yellowDarker: #e9d44d;

  --candyLighter: #d2e924;
  --candy: #ecea4e;
  --candyDarker: #e71f58;

  --black : #000000;
  --blackLighter: #1a1a1a;


  --red : #df2733;

  --good : #00ff04;
  --bad : #dc2323;

  --BigTitle : 32px;
  --title : 25px;
  --font : 20px;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}

.transparent{
  cursor: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

::-moz-selection {
  color: var(--red);
}

::selection {
  color: var(--red);
}

.main{
  position: absolute;
  top: 0;
  width: 100%;
}

html{
  cursor: none;
}

body{
  font-weight: 400;
  margin: 0;
  color: var(--white);
  font-size: var(--font);
  background-color: var(--blackLighter);

  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
  z-index: 999;
  top: 50px;
  position: sticky;
}

a{
  cursor: none;
  text-decoration: none;
}

.custom-cursor {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--red);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000000;
  visibility: hidden;
  transition: width 0.5s, height 0.5s ease;
}

.hovered {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000;
  pointer-events: none;
  width: 65px;
  background-color: rgba(223, 39, 51, 0.6);
  height: 65px;
  transition: width 0.5s, height 0.5s ease;
}

.aligne{
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligneCenterHorizontally{
  display: flex;
  align-items: center;
}

.aligneCenterVertically{
  display: flex;
  justify-content: center;
}

.Line{
  display: flex;
  flex-direction: row;
}

.Column{
  display: flex;
  flex-direction: column;
}

button.button{
  padding: 15px;
  font-size: 25px;
  background-color: var(--element);
  border: none;
  color: var(--darkness);
  transition: all 0.4s ease-out;
  border-radius: 10px;
}

button.button:hover{
  color: var(--element);
  background-color: var(--darkness);
}

.title{
  background-color: var(--blackLighter);
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
}

.title h1 {
  margin: 0px;
}

.title > hr{
  width: 100%;
  background-color: var(--white);
  height: 3px;
}

.Subtitle{
  font-size: 20px;
  width: 100%;
  margin-left: 40%;
}

.Subtitle h1 {
  margin: 0px;
}

.Subtitle > hr{
  margin: 0;
  width: 10%;
  height: 3px;
}

.SubtitleBlack > hr{
  background-color: var(--black);
}

.content{
  width: 100%;
}

.inline{
  display: block ruby;
}

.textleft{
  text-align: left;
}

.textright{
  text-align: right;
}

.bold{
  font-weight: bold;
}

.SoftColor{
  color: var(--grey) !important;
}

@media screen and (max-width: 999px) {
  .flex {
    flex-direction: column;
  }

  .left-section, .right-section {
    width: 100%;
  }

  .form-Global {
    width: 80%;
  }

  .inline{
    display: block;
  }
}