/*---------- variable ----------*/
:root{
  --fontColor : rgb(255, 255, 255);
  --background : rgb(59, 29, 55);
}

body{
  font-family: Ubuntu;
  text-align: center;
  background: var(--background);
  color : var(--fontColor);
  height: 100%;
  margin: 0;
}

/*---------- Title "TIMER POMODORO" ----------*/
.FirstTitle{
  font-size: 81px;
  margin: 18px;
}

/*---------- Size of number in the timer ----------*/
.timer{
  font-size: 10vw;
}

/*---------- Div of the timer ----------*/
.time {
  margin: 0 auto;
  margin-top: 20px;
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  font-weight: bold;
}

/*---------- Button Start/Reset ----------*/
.StartTimer {
  font-size: 5vw;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
}



footer {
  background-color: rgb(51, 22, 47);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.keyboardLogo {
  font-size: 80px;
  margin-bottom: 15px;
}

/*  Button  */
button {
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.padding{
  padding: 2% 2% 2% 2%;
}
  
button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/*  Div with "Travail" and "Pause"  */
.divActualTimerModBetweenWorkBreak p{
  font-size: 50px;
  display: inline;
}

.divActualTimerModBetweenWorkBreak{
  margin: 0 auto;
  width: 40%;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

/*---------- When screen width < 400px, change styles ----------*/
@media screen and (max-width: 400px) {
  .divActualTimerModBetweenWorkBreak p{
    font-size: 10vw;
  }
  .modifTimer{
    font-size: 7vw;
  }
}

.bold{
  font-weight: bold;
}

/*  Input for modify the time of the 2 mods  */
.ModifInput{
  -moz-appearance: textfield;
  height: fit-content;
  background-color: rgb(59, 29, 55);
  color : var(--fontColor);
  border: none;
  text-align: center;
  width: 28%;
  border-radius: 10px;
}

/* Style modify when input is focus */
.ModifInput:focus {
  background-color: #d49218 !important;
  outline: none !important;
}

/*---------- Div for the inputs and <p> ----------*/
.Temps p, .ModifInput{
  font-size: 4.5vw;
  display: inline;
}

.ModifInput::placeholder {
  font-size: 4vw;
}

label {
  font-size: 2.5vw;
  width: 28%; /* Ajoutez cette propriété */
  text-align: center; /* Pour aligner le texte à droite */
}

.DivLabel {
  width: 100%;
  display: flex; /* Ajoutez cette propriété pour permettre aux labels de partager l'espace */
}

.DivLabel label:first-child {
  margin-left: 10%;
}

.DivLabel label:nth-child(2) {
  width: 24%;
}

.Temps p{
  font-weight: bold;
}

/*---------- <p> of the mods "Travail" and "Pause" inside the modify option ----------*/
.Titreactual {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.modifTimer{
  width: 29%;
  margin: 1.3%;
  font-size: 1.7vw;
}

.ModifTimerButtonDiv{
  margin: 0;
}

.modifTimer2{
  width: 96%;
  margin: 1%;
  font-size: 2.5vw;
  padding: 1.2%;
}

/*  Hide or Make visible the input with the button in JS */
.hidden{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.divButton{
  position: relative;
  height: 465px;
}

.Modify{
  background: var(--background);
  position: absolute; /* Position absolue pour superposer div 2 sur div 1 */
  top: 0; /* Position verticale par rapport au conteneur */
  left: 0; /* Position horizontale par rapport au conteneur */
  width: 100%;
  height: 100%;
}

/* Styles pour la div principale */
.main-div {
  width: 100%; /* La div principale prendra la largeur complète de son parent */
  display: flex; /* Utilisez flexbox pour disposer les sous-divs côte à côte */
}

/* Styles pour les sous-divs */

.sub-div1, .sub-div2{
  flex: 1;
  background-color: rgb(85, 38, 79);
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement le contenu */

  border-radius: 10px;
}

.sub-div1 {
  margin-left: 0.5%;
  margin-right: 2%;
}

.sub-div2{
  margin-right: 0.5%;
}

.Temps{
  border-radius: 10px;
  border: 2px solid #ffffff;
  width: 80%;
  margin-left: 10%;
}

/*Clock*/
canvas {
  width: 100%;
  margin: auto;
  display: contents;
  height: 480px;
  background-color: #00ffa9;
}


.ClockDiv {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  width: 100%; /* Pour occuper tout l'espace horizontal disponible */
}

.Timer{
  position: relative;
}

.PauseModif{
  margin-top: 400px;
}

.clock-button60 {
  width: 3.3vw;
  height: 3.3vw;
  border-radius: 50%;
  font-size: 1.8vw;
  text-align: center;
  cursor: pointer;
  margin-left: 18%;
}

/*---------- When screen width > 800px, change styles ----------*/
@media screen and (min-width: 800px) {
  .time {
    width: 500px;
    height: 500px;
  }

  .timer{
    font-size: 80px;
  }

  .StartTimer {
    font-size: 30px;
    width: 100px;
    height: 100px;
  }

  .copyright{
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .main-div{
    display: block !important;
  }
  .sub-div1, .sub-div2{
    height: 50vw !important;
  }
  .Temps .ModifInput {
    width: 20% !important;
  }
  .FirstTitle{
    font-size: 8vw;
  }
  .ModifyTitle{
    font-size: 7vw !important;
  }
  .modifTimer2{
    font-size: 20px !important;
  }
  .modifTimer{
    width: 50% !important;
    font-size: 15px !important;
  }
  .keyboardLogo{
    font-size: 10vw !important;
  }
  footer{
    font-size: 3vw !important;
  }
  label{
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 880px) {
  .Temps p, .ModifInput{
    font-size: 50px;
  }
  .ModifInput::placeholder {
    font-size: 40px;
  }
}

@media screen and (min-width: 1220px) {
  label{
    font-size: 35px;
  }
}

@media screen and (max-width: 1919px) {
  .sub-div1, .sub-div2{
    height: 350px;
  }
}

/* Apply styles when the screen is not 16:9 */
@media screen and (min-width: 1920px) {
  .sub-div1, .sub-div2{
    height: 750px !important;
  }
}