body {
  overflow: hidden;
  height: 100vh;
}

/* --------------------------------------- SCROLLBAR --------------------------------------- */
.ScrollBar {
  z-index: 999;
  top: 35%;
  position: sticky;
  cursor: none;
  width: 50px;
  left: 93%;
  font-size: 30px;
  transition: all 0.4s ease-out;
}

.ScrollBar > hr {
  position: absolute;
  padding: 0;
  right: 27px;
  width: 0.5px;
  background-color: var(--grey);
  height: 100%;
  margin: 0;
  z-index: -1;
}

.ScrollBar > .PageListDiv > p:not(.actualPage) > span {
  visibility: hidden;
}

.ScrollBar > .PageListDiv > p {
  transition: opacity 1.5s ease-in-out;
}

.ScrollBar > .PageListDiv > p.actualPage {
  opacity: 1;
}

.ScrollBar > .PageListDiv > p:not(.actualPage) {
  opacity: 0;
}

.ScrollBar > .PageListDiv > p {
  margin: 0;
  border-left: 3px solid var(--grey);
  width: 40px;
  text-align: center;
}

.ScrollBar > .PageListDiv > p.actualPage {
  border-left: 4px solid var(--red);
}

.ScrollBar > .PageListDiv > p.actualPage > span {
  visibility: visible;
  color: var(--red);
}

.ScrollBar > .PageListDiv {
  margin-left: 20px;
}

/* --------------------------------------- END OF SCROLLBAR --------------------------------------- */

.slider-container {
  height: 300vh;
  overflow: hidden;
  transition: transform 1s ease;
}

.slide {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/* --------------------------------------- START --------------------------------------- */
.Presentation,
.Skills,
.slide {
  position: relative;
}

/* --------------------------------------- END OF START --------------------------------------- */

@media screen and (max-width: 576px) {
  .Presentation > div.PresentationImg {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  .Presentation > div.PresentationImg > img {
    width: 100px;
  }

  .Presentation > div:first-of-type {
    width: 480px;
  }

  .Skills > .Line > .ColumnSubSkill > .SubSkills > div > p {
    height: 111px;
  }

  .Skills > .Line > .ColumnSubSkill > .SubSkills > div > p > img {
    width: 51px;
  }

  .Skills > .Line > .ColumnSkill > button.skillButton {
    height: 60px;
    width: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
  }

  .Skills > .Line > .ColumnSkill:first-child > button.skillButton:first-child {
    margin-top: -25px;
  }

  .Skills > .Line > .ColumnSkill:first-child {
    margin-left: 2%;
  }

  .Skills > .Line {
    gap: 30px;
  }

  .Skills > .Line > .ColumnSubSkill {
    margin-left: 27px;
    width: 62%;
  }

  .Skills > .Line > .ColumnSubSkill > .Line {
    gap: 17px;
  }

  .ColumnSkill {
    display: flex;
    flex-direction: column;
  }

  .ColumnSkill:nth-child(2) {
    display: none;
  }

  .SkillsTitleBottom > div {
    font-size: 14px;
  }

  .SkillsTitleBottom > p {
    width: 835px;
    height: 885px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --font: 12px !important;
  }
}

@media screen and (max-width: 750px) {
  .Presentation > div.PresentationImg {
    display: none;
  }

  .Presentation > div > div {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .Presentation > div.PresentationImg {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  .Presentation > div.PresentationImg > img {
    width: 100px;
  }

  .Presentation > div:first-of-type {
    width: 480px;
  }

  .Skills > .Line > .ColumnSubSkill > .SubSkills > div > p {
    height: 111px;
  }

  .Skills > .Line > .ColumnSubSkill > .SubSkills > div > p > img {
    width: 51px;
  }

  .Skills > .Line > .ColumnSkill > button.skillButton {
    height: 70px;
    width: 70px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .Skills > .Line > .ColumnSkill:first-child > button.skillButton:first-child {
    margin-top: 100px;
  }

  .Skills > .Line > .ColumnSkill:first-child {
    margin-left: 2%;
  }

  .Skills > .Line {
    gap: 30px;
  }

  .Skills > .Line > .ColumnSubSkill {
    margin-left: 27px;
    width: 62%;
  }

  .Skills > .Line > .ColumnSubSkill > .Line {
    gap: 17px;
  }

  .Skills > .Line > .ColumnSubSkill > .SubSkillsLessThan5 > div > p {
    height: 150px;
  }

  .Skills > .Line > .ColumnSubSkill > .SubSkillsLessThan5 > div > p > img {
    width: 95px;
  }

  .SkillsTitleBottom > div {
    font-size: 20px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1500px) {
  :root {
    --font: 15px !important;
  }

  .Presentation > div.PresentationImg {
    width: 300px;
    height: 300px;
    border-radius: 300px;
  }

  .Presentation > div.PresentationImg > img {
    width: 300px;
  }

  .Presentation > div:first-of-type {
    width: 600px;
  }

  .Skills > .Line > .ColumnSubSkill > .SubSkills:not(.SubSkillsLessThan5) > div > p {
    height: 130px;
  }

  .Skills > .Line > .ColumnSubSkill > .SubSkills:not(.SubSkillsLessThan5) > div > p > img {
    width: 77px;
  }

  .Skills > .Line > .ColumnSkill > button.skillButton {
    height: 70px;
    width: 70px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .Skills > .Line > .ColumnSkill:first-child > button.skillButton:first-child {
    margin-top: 100px;
  }

  .SkillsTitleBottom > div {
    font-size: 20px;
  }
}

@media screen and (max-width: 1500px) {
  .Skills > .Line > .ColumnSubSkill {
    height: 85%;
  }

  .Skills > .Line > .ColumnSubSkill {
    width: 67%;
  }

  .SkillsTitleBottom > div {
    bottom: -10px;
  }

  .SkillsTitleBottom > p {
    height: 917px;
  }
}

.Skills > .Line > .ColumnSubSkill > .SubSkillsLessThan5 > div > p > span {
  font-size: 20px;
}